/* ===== Mobile layout ===== */

@media screen and (max-width: 768px) {

  body {
    font-size: 20px;
  }

  p {
    line-height: 1.7;
  }

}  
}
  /*.sidebar,
  .aside,
  #sidebar {
    display: none !important;
  }

  .main,
  .content {
    width: 100% !important;
    margin: 0 !important;
  }

   body {
    font-size: 15px;
  }

  p {
    line-height: 1.7;
  }

  .post-content img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}